.Icon-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    font-size: 30px;
    font-weight: bold;
  }

  .Icon-container-check {
    position: absolute;
    left: 30px;
  }
  
  .Icon-container-delete {
    position: absolute;
    top: -12px;
    right: 0;
  }
 
  .Icon-svg {
    width: 30px;
    height: 30px;
  }
  .Icon-container-check:hover .Icon-svg {
    fill: rgb(10, 235, 10);
  }
  .Icon-container-delete:hover .Icon-svg {
    fill: rgba(239, 12, 46, 0.874);
  }
  
  